# Environments
rag_env/
venv/
env/
.venv/
.env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Data and Vector DB
chroma_data/
*.sqlite3
*.db
*.csv
data/

# Environment Variables
.env
.env.*
!.env.example

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
